@model IEnumerable<Blog_VT18.Models.Categories>


@{
    ViewBag.Title = "ListPost";
}

<h2>ListPost</h2>


@foreach (var item in Model)
{

    @Html.ActionLink(item.Name + " ", "Add", "BlogPost", new { id = item.ID }, new { })

}

@foreach (var item in Model.Where(m => m.Category == m.Category))
{
    <input type="button" value="Create new category" onclick="location.href='@Url.Action("CreateCategory", "BlogPost", new { id=item.Category })' "/>
    break;

}
