@model IEnumerable<Blog_VT18.Models.Categories>

@{
    ViewBag.Title = ViewBag.Message;
}

<h2>@ViewBag.Message</h2>
@foreach (var item in Model.Where(m => m.Category == m.Category))
{
    <input type="button" value="Create new category" onclick="location.href='@Url.Action("CreateCategory", "BlogPost", new { id=item.Category })' " />
    break;

}
<br /><br /><br />


@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="well">
            @Html.ActionLink(item.Name + " ", "Add", "BlogPost", new { id = item.ID }, new { @style = "font-weight: Normal; font-size: 150%; color: black " })
        </div>
    </div>
}
@*@foreach (var item in Model)
    {

        @Html.ActionLink(item.Name + " ", "Add", "BlogPost", new { id = item.ID }, new { })

    }*@


