@model IEnumerable<Blog_VT18.Models.Categories>


@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@foreach(var item in Model) {
    @Html.ActionLink(item.Name + " ", "Category", "BlogPost", new { id = item.ID }, new { })
}

