@model IEnumerable<Blog_VT18.Models.Categories>


@{
    ViewBag.Title = "ListPost";
}

<h2>ListPost</h2>

@foreach (var item in Model)
{
    @Html.ActionLink(item.Name+ " ", "Category", "BlogPost", new { id = item.ID }, new { })
}
