@{
    ViewBag.Title = "About";

}

<div class="row">
    <div class="col-md-4">
        <h2>CERIS</h2>
        <p>
            Centre for Empirical Research on Information Systems (CERIS) develops knowledge about information systems'
            possibilities and limitations when it comes to supporting the way people work in, manage and develop businesses.
            Information system includes information technology (IT), people and processes. More precisely, it can be expressed as
            a system in which information is collected, stored, processed and distributed using IT to support communication and activities
            within or between organizations..
        </p>
        <p><a class="btn btn-default" href="https://www.oru.se/english/research/research-environments/ent/ceris/">Learn more &raquo;</a></p>
    </div>

</div>