@{
    ViewBag.Title = "Contact";
}

<address>
    Örebro Universitet<br />
    SE-701 82 Örebro<br />
    <abbr title="Phone">P:</abbr>
    +46 19 303000
</address>

<address>
    <strong>Contact:</strong>   <a href="annsofie.hellberg@oru.se">annsofie.hellberg@oru.se</a><br />
    
</address>