@using Blog_VT18.App_LocalResources;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Resources.LblInternalBlog</h1>
    <p class="lead">@Resources.LblInfo</p>
    <p><a href="https://oru.se" class="btn btn-primary btn-lg">@Resources.LblLearnMore &raquo;</a></p>
</div>

