<!DOCTYPE html>
<html>
<head>
    <title>DHXScheduler initialization sample</title>
</head>
<body>
    <div style="height:700px;width:auto;margin:50px auto">
        @Html.Raw(Model.Render())
    </div>
</body>
</html>
