<div style="height:700px;width:auto;margin:50px auto">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.Raw(Model.Render())

    <script>
        (function () {

            var hub = $.connection.schedulerHub;
            scheduler.dataProcessor.attachEvent("onLocalUpdate", function (data) {
                hub.server.send(JSON.stringify(data));
            });
            hub.client.addMessage = function (message) {
                scheduler.dataProcessor.applyChanges(JSON.parse(message));
            };

            Â
            $.connection.hub.start();
        })()
    </script>
</div>
@section Scripts {
    <script src="Scripts/jquery-3.1.0.js" type="text/javascript"></script>
    <script src="Scripts/jquery.signalR-2.2.1.min.js" type="text/javascript"></script>
}